@tailwind base;
@tailwind components;
@tailwind utilities;

.waves {
  background-image: url('./svg/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #A2A6A6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #878c8c;
}
